:root{
  --icon-color: #ebe4f1;
}

.App {
  font: 20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #fff;
  width: 60%;
  margin: 40px auto;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.header {
  input {
    padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 20px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: 0;
    color: inherit;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.footer {
  font-size: 14px;
  color: #777;
  padding: 10px 15px;
  border-top: 1px solid #e6e6e6;
  button {
    background: none !important;
    border: none;
    padding: 0 !important;
    cursor: pointer;
  }
  button:hover{
    color: #007bff;
  }
}

.content {
  table tr td {
    word-break: break-all;
    padding: 15px 0;
    margin-left: 45px;
    line-height: 1.2;
    transition: color 0.4s;
  }
  .todoContent {
    color: deepskyblue;
  }
  .completed {
    opacity: 0.5;
    text-decoration: line-through;
  }
}

.All {
  h1 {
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: bisque;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
  }
  h2 {
    width: 100%;
    font-size: 56px;
    font-weight: 100;
    text-align: center;
    color: bisque;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
  }
  h3 {
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 20px;
    left: 20px;
    font-size: 36px;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.5);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
  }
}

.bg-control {
  margin-left: 40%;
  width: 20%;
  padding: 2em 2.2em;
  border-radius: 4px;
  background: darkgray;
  img {
    width: 30px;
    height: 30px;
    position: relative;
    float: left;
    transform: scale(0.8);
  }
}

input[type=range] {
  -webkit-appearance: none;
  width: calc(100% - 40px);
  float: left;
  margin-top: 15px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: var(--icon-color);
}

input[type=range]::-webkit-slider-thumb {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background: var(--icon-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

input[type=range]:hover::-webkit-slider-thumb {
  box-shadow: 0 0 5px var(--icon-color);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: var(--icon-color);
}

input[type=range]::-moz-range-thumb {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background: var(--icon-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: var(--icon-color);
}

input[type=range]::-ms-thumb {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background: var(--icon-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

input[type=text] {
  margin-top: 15px;
  width: 100%;
  background: none;
  border: none;
  border-bottom: white 2px solid;
}

.bg-img {
  height: -webkit-fill-available;
  width: 100%;
  position: absolute;
  z-index: -1;
}